---
import Layout from "@/layouts/Layout.astro";

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login");
}

let username = user.username;
username = username[0].toUpperCase() + username.slice(1);
---

<Layout title="Learnify App | Dashboard">
  <main class="flex flex-col gap-2 items-start p-4">
    <h1>
      Welcome Back, {username}
    </h1>
    <form method="POST" action="/api/logout">
      <button class="p-2 bg-slate-500 px-4 rounded-md hover:bg-slate-600">
        Sign out
      </button>
    </form>
    <a
      href="/dashboard/subjects"
      class="p-2 bg-slate-500 px-4 rounded-md hover:bg-slate-600"
    >
      See All Subjects
    </a>
  </main>
</Layout>
