---
import Layout from "@/layouts/Layout.astro";

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login");
}

const username = user.username;
---

<Layout title="Learnify App | Dashboard">
  <h1>
    Welcome Back, {username}
  </h1>
  <form method="post" action="/api/logout">
    <button>Sign out</button>
  </form>
</Layout>
