---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Learnify App">
  <main class="border-2 border-red-500">
    <h1>Learnify App</h1>
    <nav>
      <ul>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
      </ul>
    </nav>
  </main>
</Layout>
